 <!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoHooves/logoSvg.svg" />

	<title> Hooves </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<!-- Include Head -->

<body>

	<!-- Header -->
	<%if(logueado == false){%>
		<%-include("partials/header.ejs")%>
		<%}else{%>
		<%-include("partials/headerLogueado.ejs")%>
	<%}%>
	<!-- /Header -->

	<!-- Product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%=products.nombre%></h2> 
			<%if(logueado == true){%>
				<%if(usuarioId == products.usuarioId){%>
				<p class="product-detail-description">
					<a href="../edit/<%=products.id%>">Editar</a>
				</p>
				<p class="product-detail-description">
					<a href="../borrar/<%=products.id%>">Borrar</a>
				</p>
				<%}%>
			<%}%>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "/images/products/<%=products.imagen%>" alt="<%= products.nombre%>">
					<hr>
					<p class="product-detail-description"><a href="/profile/<%=products.usuario.id%>"><strong>Ver más productos de <%=products.usuario.nombreUsuario%></strong></a></p>
					<p class="product-detail-description"><%= products.descripcion%></p>
				</article>

			<!-- Comentarios -->
			<div class="col-12 col-lg-4">
				<section class="comments">
					<%if(products.comentario.length == 0){%>
						<div class="data">
							<p class="user"> 
								Todavía no hay comentario, animate se el primero en comentar!
							</p>	
						</div>
					<% } else{ %>
						<% for (let index = 0; index < products.comentario.length; index++) { 
						let producto = products.comentario[index] %>
						<article>
							<img src="/images/usuarios/<%=producto.usuario.imagen%>" alt="">
							 <div class="data">
								<p class="user"> 
									<strong> 
										<a href="/profile/<%=producto.usuario.id%>"> <%=producto.usuario.nombre%> <%=producto.usuario.apellido%></a> 
									</strong>
									<%=producto.comentario%>
										<%if(logueado == true){%>
											<%if(usuarioId == producto.usuario.id) { %>
												<form class="formBorrar" action="/borrarComentario" method="POST">
													<button class="borrarComent" type="submit" value="Borrar">
														<i class="fas fa-trash-alt"></i>
													</button>
													<input type="hidden" value="<%=producto.usuario.id%>" name="usuarioid">
													<input type="hidden" value="<%=producto.id%>" name="comentarioid">
													<input type="hidden" value="<%= products.id%>" name="productid">
									   			</form>
											<%}%>
										<%}%>
							</div>
						</article>
						<% }%>
					<% }%>
				</section>
					<form class="form comentario" action="/comentar" method="POST">
						<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
						<input type="hidden" name="productId" value="<%= products.id%>">
						<input type="hidden" name="usuarioId" value="<%=usuario%>">
						<hr>
						<%if(logueado == true){%>
						<button type="submit" class="buy-now-button" >AGREGAR COMENTARIO</button>
						<%}else{%>
						<button type="submit" class="buy-now-button" >REGISTRATE PARA COMENTAR!</button>
						<%}%>
					</form>
					<hr>
			</div>
	   		</div>
		</div>
	</div>
	<!-- /Product detail -->

	<!-- footer -->
	<%- include("partials/footer.ejs")%>
	<!-- /footer -->
	
</body>	
</html>

