<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoHooves/logoSvg.svg" />
	
	<title> Hooves </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<!-- Editar perfil  -->
	<div class="container products-wrapper">
		
		
		<h2 class="products-title">Editar perfil</h2>
	
<div class="login-box">
	<h2>¡Edita tu perfil a tu gusto!</h2>
	<form method="POST" action="/edit" enctype="multipart/form-data">
	  <div class="user-box">
		<input type="text" name="nombre" required="" value="<%=usuario.nombre%>">
		<label>Nuevo nombre de usuario:</label>
	  </div>
	  <div class="user-box">
		<input type="text" name="mail" required="" placeholder="usuario@gmail.com" value="<%=usuario.mail%>">
		<label>Nueva direccion de correo:</label>
	  </div>
	  <div class="user-box">
		<input type="password" name="contra" required="" value="<%=usuario.contraseña%>">
		<label>Nueva contraseña:</label>
	  </div>
	  <div class="user-box">
		<input type="file" name="imagen" required="" accept="image/gif, image/png, image/jpeg" value="<%=usuario.imagen%>"> 
		<label>imagen:</label>
	  </div>
	 <input type="hidden" name="id" value="<%= usuarios.id %>">
	 <input type="submit" value="enviar">
	</form>
</div>	
</div>
	<!-- footer -->
	<%- include("partials/footer.ejs")%>
	<!-- /footer -->
	
</body>
</html>